snippet newdoc
\documentclass{$1}

$2

\title{$3}
\author{$4}

\begin{document}

\maketitle

$0

\end{document}
endsnippet

snippet begin
\begin{$1}
	$0
\end{$1}
endsnippet

snippet mathpackages
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
endsnippet
