snippet newdoc
\documentclass{$1}

$0

\begin{document}

\end{document}
endsnippet

snippet begin
\begin{$1}
	$0
\end{$1}
endsnippet

snippet mathpackages
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
endsnippet
