*.*~
*.desktop
.swp
cache.db

code/globalStorage/
code/workspaceStorage/
code/eq-material-theme-icons.json

emacs/backup/
emacs/.cache/
emacs/eln-cache
emacs/elpa
emacs/eshell/
emacs/history
emacs/multisession/
emacs/places
emacs/projects
emacs/recentf
emacs/tramp
emacs/transient/
emacs/url

history.cmdline
history.search

pb-lock.pid

ptpython/history

queue

qutebrowser/qsettings/QtProject.conf

tmux/plugins
tmux/resurrect
tmux/sidebar

vim/autoload
vim/plugged

zsh/antigen.zsh
