*.desktop
.swp
cache.db

code/globalStorage/
code/workspaceStorage/
code/eq-material-theme-icons.json

history.cmdline
history.search

nvim/.black
nvim/.netrwhist
nvim/.py3
nvim/autoload
nvim/plugged

pb-lock.pid

ptpython/history

queue

qutebrowser/qsettings/QtProject.conf

tmux/plugins
tmux/resurrect
tmux/sidebar

vim/autoload
vim/plugged

zsh/antigen.zsh
